{% extends 'base.html' %}
{% block title %}
           Edit Blog Post


        {% endblock %}
{% block content %}


    



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    {% if user.id == author.id %}
        <h1>Update Post!</h1>
        <br>
        <div class="container">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>Please create your own account!!</p>
    {% endif %}
{% else %}
    <p>Please create your own account!!</p>
{% endif %}

</body>
</html>
{% endblock %}